<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
       <context:component-scan base-package="com.zhiyou100"/>
        <mvc:annotation-driven/>
        <mvc:default-servlet-handler/>
		<mvc:resources location="/resource/js/" mapping="/resource"/>
        <mvc:resources location="/resource/css/" mapping="/resource"/>
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <property name="prefix" value="/WEB-INF/videojsp/"></property>
		<property name="suffix" value=".jsp"></property> 
		</bean>
        <util:properties id="db" location="classpath:db.properties"/>
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        	<property name="driverClassName" value="#{db.driver}" />
			<property name="url" value="#{db.url}" />
			<property name="username" value="#{db.username}" />
			<property name="password" value="#{db.password}" />
        </bean>
        <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<property name="configLocation" value="classpath:mybatis.xml"/>
        	<property name="dataSource" ref="dataSource"/>
        	<property name="mapperLocations" value="classpath:mapper/*.xml"/>
        </bean>
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<property name="sqlSessionFactory" ref="sessionFactory"></property>
        	<property name="basePackage" value="com.zhiyou100.dao"></property>
        </bean> 
          
</beans>